<tr class="data-table-row" [class.expanded]="expanded" [title]="getTooltip()" [style.background-color]="dataTable.getRowColor(item, index, _this)"
    [class.row-o]="index % 2 === 0" [class.row-e]="index % 2 === 1" [class.selected]="selected" [class.clickable]="dataTable.selectOnRowClick || dataTable.expandableRows"
    (dblclick)="dataTable.rowDoubleClicked(_this, $event)">
    <td (click)="dataTable.rowClicked(_this, $event)" *ngIf="dataTable.indexColumnVisible" class="index-column" [textContent]="displayIndex"></td>
    <td *ngIf="dataTable.selectColumnVisible" class="select-column">
        <i (click)="SelectionTrigger()" *ngIf="!selected" class="material-icons">check_box_outline_blank</i>
        <i (click)="SelectionTrigger()" *ngIf="selected" class="material-icons">check_box</i>
    </td>
    <ng-container *ngFor="let column of dataTable.columns">
        <td (click)="dataTable.rowClicked(_this, $event)" *ngIf="column.visible" [ngClass]="column.styleClassObject" class="data-column" [style.background-color]="column.getCellColor(_this, index)">
            <div *ngIf="!column.cellTemplate" [textContent]="item[column.property]"></div>
            <div *ngIf="column.cellTemplate" [ngTemplateOutlet]="column.cellTemplate" [ngTemplateOutletContext]="{column: column, row: _this, item: item}"></div>
        </td>
    </ng-container>
</tr>
<tr *ngIf="dataTable.expandableRows && expanded" class="row-expansion">
    <td class="expander" [attr.colspan]="dataTable.columnCount-1">
        <div [ngTemplateOutlet]="dataTable.expandTemplate" [ngTemplateOutletContext]="{row: _this, item: item}"></div>
    </td>
</tr>