.select-column {
  text-align: center;
}

.row-expand-button {
  cursor: pointer;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.row-o {
  background-color: #F7F7F7;
}

.row-e {
  background-color: #E5DFED;
}

.expanded {
  background: #8422b5 !important;
  color: #fff !important;
  background: linear-gradient(#7819ab, #8520bc, #7819ab) !important;
}

.expander{
  background: #f1f1f1;
}

td {
  white-space: nowrap;
  border: none !important;
  font-size: 1em !important;
  padding: 4px !important;
}