<div class="data-table-wrapper">
    <data-table-header *ngIf="header"></data-table-header>

    <div class="data-table-box">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <!-- <th [hide]="!expandColumnVisible" class="expand-column-header"> -->
                    <th *ngIf="indexColumnVisible" class="index-column-header chead">
                        <span [textContent]="indexColumnHeader"></span>
                    </th>
                    <th *ngIf="selectColumnVisible" class="select-column-header chead">
                        <!-- <input *ngIf="multiSelect" type="checkbox" [(ngModel)]="selectAllCheckbox" /> -->
                        <i (click)="SelectionTrigger()" *ngIf="!selectAllCheckbox && multiSelect" class="material-icons">check_box_outline_blank</i>
                        <i (click)="SelectionTrigger()" *ngIf="selectAllCheckbox && multiSelect" class="material-icons">check_box</i>
                    </th>
                    <ng-container *ngFor="let column of columns">
                        <th #th *ngIf="column.visible" (click)="headerClicked(column, $event)" [class.sortable]="column.sortable" [class.resizable]="column.resizable"
                            [ngClass]="column.styleClassObject" class="column-header chead" [style.width]="column.width | px">

                            <div class="header-contents">
                                <div *ngIf="!column.headerTemplate" class="con header">{{column.header}}</div>
                                <div *ngIf="column.headerTemplate" class="con header">
                                    <span [ngTemplateOutlet]="column.headerTemplate" [ngTemplateOutletContext]="{column: column}"></span>
                                </div>

                                <div class="con sort" *ngIf="column.sortable">
                                    <i class="material-icons" *ngIf="column.property !== sortBy">swap_vert</i>
                                </div>
                                <div class="con sort" *ngIf="column.property == sortBy">
                                    <i class="material-icons" *ngIf="sortAsc">keyboard_arrow_down</i>
                                    <i class="material-icons" *ngIf="!sortAsc">keyboard_arrow_up</i>
                                </div>
                                <div *ngIf="column.resizable" class="column-resize-handle" (mousedown)="resizeColumnStart($event, column, th)"></div>
                            </div>
                        </th>
                    </ng-container>
                </tr>
                <tr class="filters" *ngIf="isFilterRequested()">
                    <!-- <td [hide]="!expandColumnVisible">&nbsp;</td> -->
                    <td *ngIf="indexColumnVisible">&nbsp;</td>
                    <td *ngIf="selectColumnVisible">&nbsp;</td>
                    <ng-container *ngFor="let c of columns">
                        <td class="filters" *ngIf="c.visible">
                            <input (input)="filterColumn($event, c)" type="text" class="filter" [placeholder]="c.header" *ngIf="c.filter">
                        </td>
                    </ng-container>
                </tr>
            </thead>
            <tbody *ngFor="let item of items; let index=index" class="data-table-row-wrapper" dataTableRow #row [item]="item" [index]="index"
                (selectedChange)="onRowSelectChanged(row)">
            </tbody>
            <tbody class="substitute-rows" *ngIf="pagination && substituteRows">
                <tr *ngFor="let item of substituteItems, let index = index" [class.row-o]="(index + items.length) % 2 === 0" [class.row-e]="(index + items.length) % 2 === 1">
                    <!-- <td [hide]="!expandColumnVisible"></td> -->
                    <td *ngIf="indexColumnVisible">&nbsp;</td>
                    <td *ngIf="selectColumnVisible"></td>
                    <ng-container *ngFor="let column of columns">
                        <td *ngIf="column.visible">
                    </ng-container>
                </tr>
            </tbody>
        </table>
        <div class="loading-cover" *ngIf="showReloading && reloading"></div>
    </div>

    <data-table-pagination *ngIf="pagination"></data-table-pagination>
</div>